.container {
  display: flex;
}

h1 {
  font-size: 5vw;
}

h3 {
  font-size: 3vw;
}

img {
  width: 15%;
}

#flex-body {
  flex-direction: column;
  align-items: center;
}

#moodScale {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
}

#avg {
  display: inline;
  font-size:
}
